@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --small-distance: 1rem;
    --med-distance: 2rem;
    --large-distance: 3rem;
    --radius: 2rem;
    --paragraph-width: 1200px;
    --background-color: #fafafa;
    --header-color: #27272A;
    --header-text-color: #fafafa;
    --text-color: #18181B;
    --muted-color: #71717A;
    --container-color: #3F3F46;
    --card-color: #71717A;
    --transition-time: 0.2s;
    --padding-x: 18%;
    --padding-y: 2%;
}

/* @font-face {
    font-family: 'Matrix';
    src: url('matrix.ttf')  format('truetype'); 
} */

    /* background-image: url("code2.jpg"); */
    /* background-image:  linear-gradient(var(--color-1), var(--color-2), var(--color-3)); */
    /* color: var(--color-4); */
    /* font-family: 'Matrix'; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
* {
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Kanit', sans-serif;
}

body:not(#cookies-popup) {
    padding: var(--padding-y) var(--padding-x) var(--padding-y) var(--padding-x);
}

img {
    width: 100%;
    display: flex;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    background-color: var(--header-color);
    color: var(--header-text-color);
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    background-color: var(--header-color);
    color: var(--header-text-color);
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: -1rem;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

p {
    font-size: .9rem;
    max-width: var(--paragraph-width);
    margin: auto; 
}

.exp-description {
    /* border-top: 0px solid var(--text-color); */
    /* opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease; */
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-height 1s ease, max-width 1s ease;
}

.exp-description.active {
    border-top: 1px solid var(--text-color);
    max-height: 200px;
    max-width: var(--paragraph-width);
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--med-distance);
    background-color: var(--header-color);
    color: var(--header-text-color);
    border-radius: var(--radius);
    padding: var(--small-distance);
    /* padding: var(--padding-y) var(--padding-x) var(--padding-y) var(--padding-x); */
}

.language-btn{
    padding: 0;
    border-radius: 100%;
}

.language-btn img{
   width: 1.5rem;
   height: 1.5rem;
}

.language-btn:hover {
    box-shadow: 0 0 .2rem .1rem var(--background-color);
    z-index: 100;
    transition: var(--transition-time) ease-in-out;
}

.text-header {
    text-align: center;
    align-items: center;
    background-color: var(--header-color);
    color: var(--header-text-color);
}

header img {
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
}

header nav {
    margin-top: var(--med-distance);
    background-color: var(--header-color);
    color: var(--header-text-color);
 }

header .btn-group {
    margin-top: var(--small-distance);
    background-color: var(--header-color);
    color: var(--header-text-color);
}

a + a {
    margin-left: 0.6rem;
}

button.btn-link {
    font-size: .9rem;
    padding: 0;
    color: var(--container-color);
}

button.btn-link:hover {
    color: var(--muted-color);
    transition: var(--transition-time) ease-in-out;
}

nav a {
    background-color: var(--header-color);
}

a i {
    background-color: var(--header-color);
    color: var(--header-text-color);
}

a i:hover, .nav-links button:hover {
    color: var(--muted-color);
    /* border-bottom: 1px solid var(--text-color); */
    transition: var(--transition-time) ease-in-out;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border-left: 1px solid var(--text-color); */
}

.nav-links button {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* .nav-pills .nav-link.active {
} */

.left {
    margin-left: auto;
    margin-right: 0;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin-top: var(--large-distance);
    text-align: center;
    /* max-width: var(--paragraph-width); */
    padding: var(--small-distance);
    box-shadow: 2px 1px .5rem var(--muted-color);
    border-top: 1px solid var(--text-color);
    border-radius: .2rem .2rem 1rem 1rem;
}

.content-container p {
    width: 600px;
    margin: auto;
    /* border-radius: var(--radius); */
    /* box-shadow: 2px 2px .5rem var(--container-color); */
}

.text-muted {
    color: var(--muted-color);
}

.content-card {
    max-width: 1000px;
}

.dateplace {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.italic {
    font-style: italic;
}

.text-small {
    font-size: 0.7rem;
}

footer {
    margin-top: var(--large-distance);
}



/* Button used to open the contact form - fixed at the bottom of the page */
/* .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  } */
  
/* .popup-header {

} */

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
    overflow-y: scroll;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 600px;
    height: 600px;
    padding: 10px;
    background-color: var(--background-color);
  }
  
  /* Full-width input fields */
  .form-container input[type=text],  .form-container input[type=email]{
    width: 100%;
    padding: .7rem;
    font-size: 1.2rem;
    /* margin: 5px 0 22px 0; */
    /* margin: .5rem 0 2rem 0; */
    border: none;
    /* background: #f1f1f1; */
    /* border-radius: 1rem; */
    border-bottom: 1px solid var(--text-color);
  }

  .form-container textarea{
    width: 100%;
    padding: .5rem;
    resize: vertical;
    font-size: 1.2rem;
    /* margin: 5px 0 22px 0; */
    /* margin: .5rem 0 2rem 0; */
    border: none;
    /* background: #f1f1f1; */
    /* border-radius: 1rem; */
    border-bottom: 1px solid var(--text-color);
  }
  
  /* When the inputs get focus, do something */
  /* .form-container input[type=text]:focus, .form-container input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  } */
  
  /* Set a style for the submit/login button */
  .primary {
    background-color: #04AA6D;
    color: var(--text-color);
    padding: 16px 20px;
    /* border: none; */
    cursor: pointer;
    border-radius: var(--radius);
    width: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    opacity: 0.8;
  }
  
  .primary:hover {
    background-color: #139e6b;
    color: var(--background-color);
    transition: var(--transition-time) ease-in-out;
  }
  /* Add a red background color to the cancel button */
  .secondary {
    background-color: #04AA6D;
    width: auto;
    padding: 1rem;
    border-radius: var(--radius);
  }
  
  .secondary:hover {
    background-color: #139e6b;
    color: var(--background-color);
    transition: var(--transition-time) ease-in-out;
  }

  .cancel {
    background-color: crimson;
    width: auto;
    padding: 1rem;
    border-radius: var(--radius);
  }

  .cancel:hover {
    color: var(--background-color);
    transition: var(--transition-time) ease-in-out;
  }

  .circled {
    border-radius: 100%;
  }
  
  /* Add some hover effects to buttons */
  /* .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  } */

#cookies-popup {
    display: block;
    position: fixed;
    bottom: 0;
    right: 2px;
    width: 100%;
    height: 240px;
    z-index: 9;
    padding: var(--small-distance);
    text-align: center;
    box-shadow: 2px 1px .5rem var(--muted-color);
    border-top: 1px solid var(--text-color);
    border-radius: .2rem .2rem 1rem 1rem;
}

.barchart {
    color: var(--header-color);
    background-color: var(--header-color);
    height: 0.5rem;
    border-radius: var(--radius);
    margin-top: .5rem;
}

.langchart {
    display: flex;
}

footer {
    display: flex;
}

@media screen and (max-width: 1200px) {
    header {
        display: block;
    }
    .content-container:not(.form-popup) {
        display: block;
    }
    .content-container p {
        width: 400px;
        margin: auto;
        /* border-radius: var(--radius); */
        /* box-shadow: 2px 2px .5rem var(--container-color); */
    }

    .form-container {
        height: 300px;
    }
}